# Requirements for the Backend Server and Logic

# Server
fastapi
uvicorn

# Document Parsing
python-docx
pdfplumber
pytesseract
Pillow
pandas
openpyxl
rank_bm25

# LLM / AI Models
transformers
torch
bitsandbytes
accelerate
