pdfplumber
requests
faiss-cpu
matplotlib
huggingface-hub
llama-cpp-python
sentence-transformers
transformers
scikit-learn
llama_index
pyyaml
rdflib
langchain
llama-index-embeddings-huggingface
pypdf
numpy
scipy
torch
